definitions:
  scripts:
    clean_source: &cleanSource |-
      rm -rf .hgignore bitbucket-pipelines.yml .hg .git .gitignore
    clean_test_results: &cleanTestResults |-
      rm -rf test-results
    pack_zip: &packZip |-
      echo "Will create ${BITBUCKET_REPO_SLUG}.zip"
      zip -r ${BITBUCKET_REPO_SLUG}.zip .
    prepare_ssh: &prepareSSH |-
      mkdir -p ~/.ssh
      echo ${AW_COMPOSER_KNOWN_HOSTS} >> ~/.ssh/known_hosts
      (umask  077 ; echo ${AW_COMPOSER_SSH_KEY} | base64 --decode > ~/.ssh/id_rsa)
      # prepare git must be removed
    prepare_git: &prepare_git |-
      echo 'skip'
      apk add --update openssh
      apk add --update coreutils
      apk add git
      echo ${DEVOPS_SSH_KEY} | base64 --decode > ~/.ssh/id_rsa
      chmod 700 ~/.ssh
      chmod 600 ~/.ssh/id_rsa
    get_repositories: &getRepositories |-
      TOKEN=$(curl -s -X POST -u "${BITBUCKET_KEY}:${BITBUCKET_SECRET}"  https://bitbucket.org/site/oauth2/access_token  -d grant_type=client_credentials | sed  -E 's/.*"access_token":? "?([^,"]*)"?.*/\1/')
      curl -H "Authorization: Bearer ${TOKEN}" https://api.bitbucket.org/2.0/repositories/$BITBUCKET_WORKSPACE?pagelen=100 >> repositories
      curl -H "Authorization: Bearer ${TOKEN}" https://api.bitbucket.org/2.0/repositories/$BITBUCKET_WORKSPACE?pagelen=100\&page=2 >> repositories2

  build_steps:
    - step: &build
        image: atlassian/default-image:2
        name: Clean and pack sources
        script:
          - *cleanSource
          - *packZip
        artifacts:
          - "*.zip"
  test_steps:
    - step: &validatePackage-2.4.0-p1
        name: Validate marketplace package on Magento 2.4.0-p1
        image: aheadworks/m2test-new:2.4.0-p1-without-dump-7.4
        script:
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_test_manager validate-m2-package ${BITBUCKET_REPO_SLUG}.zip
    - step: &validatePackage-2.4.5
        name: Validate marketplace package on Magento 2.4.5
        image: aheadworks/m2test-new:2.4.5-without-dump-8.1
        script:
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_test_manager validate-m2-package ${BITBUCKET_REPO_SLUG}.zip
    - step: &eqpTest-2.4.0-p1
        name: Run EQP tests on Magento 2.4.0-p1
        image: aheadworks/m2test-new:2.4.0-p1-without-dump-7.4
        script:
          - mkdir -p test-results/eqp
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_test_manager eqp ${PWD} > test-results/eqp/test-EQP-2.4.0-p1.xml
        artifacts:
          - "test-results/**"
    - step: &eqpTest-2.4.5
        name: Run EQP tests on Magento 2.4.5
        image: aheadworks/m2test-new:2.4.5-without-dump-8.1
        script:
          - mkdir -p test-results/eqp
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_test_manager eqp ${PWD} > test-results/eqp/test-EQP.xml
        artifacts:
          - "test-results/**"
    - step: &staticTest-2.4.0-p1
        name: Run static tests on Magento 2.4.0-p1
        image: aheadworks/m2test-new:2.4.0-p1-with-dump-7.4
        script:
          - mkdir -p test-results/static-2.4.0-p1
          - *prepare_git
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_test_manager static ${PWD} test-results/static-2.4.0-p1
        artifacts:
          - "test-results/**"
    - step: &staticTest-2.4.5
        name: Run static tests on Magento 2.4.5
        image: aheadworks/m2test-new:2.4.5-with-dump-8.1
        script:
          - mkdir -p test-results/static
          - *prepare_git
          # 2.4.4/2.4.5-specific. Fix false positive code duplication test for fonts
          - echo 'lib/internal/LinLibertineFont/' > /var/www/html/dev/tests/static/testsuite/Magento/Test/Php/_files/phpcpd/blacklist/false_positive.txt
          - echo 'lib/internal/GnuFreeFont/' >> /var/www/html/dev/tests/static/testsuite/Magento/Test/Php/_files/phpcpd/blacklist/false_positive.txt
          - echo 'lib/web/fonts/opensans/semibold/opensans-600.woff2' >> /var/www/html/dev/tests/static/testsuite/Magento/Test/Php/_files/phpcpd/blacklist/false_positive.txt
          - echo 'lib/web/fonts/opensans/regular/opensans-400.woff2' >> /var/www/html/dev/tests/static/testsuite/Magento/Test/Php/_files/phpcpd/blacklist/false_positive.txt
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_test_manager static ${PWD} test-results/static
        artifacts:
          - "test-results/**"
    - step: &unitTestPHP74
        name: Run unit tests PHP 7.4
        image: aheadworks/m2test-new:2.4.0-p1-with-dump-7.4
        script:
          - mkdir -p test-results
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_test_manager unit ${PWD} test-results/test-unit-2.4.0-p1.xml
        artifacts:
          - "test-results/**"
    - step: &unitTestPHP81
        name: Run unit tests PHP 8.1
        image: aheadworks/m2test-new:2.4.5-with-dump-8.1
        script:
          - mkdir -p test-results
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_test_manager unit ${PWD} test-results/test-unit.xml
        artifacts:
          - "test-results/**"
    - step: &installMagento-2.4.0-p1
        name: Run install Magento 2.4.0-p1 test
        image: aheadworks/m2test-new:2.4.0-p1-without-dump-7.4
        script:
          - mkdir -p test-results
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_test_manager install-magento ${PWD} test-results/test-unit.xml
        artifacts:
          - "logs1/**"
          - "test-results/test-unit.xml"
    - step: &installMagento-2.4.5
        name: Run install Magento 2.4.5 test
        image: aheadworks/m2test-new:2.4.5-without-dump-8.1
        script:
          - mkdir -p test-results
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_test_manager install-magento ${PWD} test-results/test-unit.xml
        artifacts:
          - "logs1/**"
          - "test-results/test-unit.xml"

  deployment_steps:
    - step: &runPipelines
        name: Run pipelines
        image: aheadworks/m2test-new:test-7.4
        script:
          - *getRepositories
          - apk add py3-requests
          - python3 runpipelines.py
    - step: &setPermissions
        name: Set permissions
        image: aheadworks/m2test-new:test-7.4
        script:
          - apk add py3-requests
          - python3 /permissions.py
    - step: &rebuildPrivateComposer
        name: Sync tags and branches to the Internal composer
        image: aheadworks/deploy-tools:new-gen
        script:
          - *cleanTestResults
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_bitbucket_manager internal_composer_refresh
    - step: &releaseToPublicComposer
        name: Add the new package to the Public composer repository
        image: aheadworks/deploy
        username: ${DOCKERHUB_LOGIN}
        password: ${DOCKERHUB_PASSWORD}
        script:
          - *cleanTestResults
          - *prepareSSH
          - VERSION=$(cat composer.json | jq -r '.version') && NAME=$(cat composer.json | jq -r '.name')
          - test -f ${BITBUCKET_REPO_SLUG}.zip
          - echo "Ready to push ${NAME}-${VERSION} to ${AW_COMPOSER_API_URL}"
          - ssh -t ${AW_COMPOSER_SSH_URL} "mkdir -p ${AW_COMPOSER_PACKAGES_ROOT}/${NAME}"
          - scp ${BITBUCKET_REPO_SLUG}.zip ${AW_COMPOSER_SSH_URL}:${AW_COMPOSER_PACKAGES_ROOT}/${NAME}/${BITBUCKET_REPO_SLUG}-${VERSION}.zip
          - REPO_URL=${AW_COMPOSER_API_URL} REPO_LOGIN=${AW_COMPOSER_API_LOGIN} REPO_TOKEN=${AW_COMPOSER_API_PASSWORD} deploy comp -p send-package --filename=${BITBUCKET_REPO_SLUG}-${VERSION}.zip ${BITBUCKET_REPO_SLUG}.zip
    - step: &build_packages
        name: Build store and marketplace packages and send them to Jira
        image: aheadworks/deploy-tools:new-gen
        script:
            - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
            - python3 -m aheadworks_release_manager build-ecommerce-pack --bitbucket_workspace=${BITBUCKET_WORKSPACE} --bitbucket_repo_slug=${BITBUCKET_REPO_SLUG}
            - python3 -m aheadworks_release_manager build-mm-pack --bitbucket_workspace=${BITBUCKET_WORKSPACE} --bitbucket_repo_slug=${BITBUCKET_REPO_SLUG}
            - if [[ "$BITBUCKET_REPO_SLUG" == "module-test" ]]; then DISCORD_BOT_URL=${TEST_DISCORD_MAGENTO_RELEASE_BOT_URL}; else DISCORD_BOT_URL=${DISCORD_MAGENTO_RELEASE_BOT_URL}; fi;
            - python3 -m aheadworks_release_manager jira-release --jira_project_key="${JIRA_PROJECT_KEY}" --composer-file="./composer.json" --discord-bot-url="${DISCORD_BOT_URL}" --path_to_files="/build_archives" --assign_to="${AFTER_RELEASE_ASSIGN_TO}"
        artifacts:
            - "/build_archives/**"
    - step: &swaggerWebApiDocBuild
        name: Build Web Api Documentation and publish it at S3
        image: aheadworks/deploy-tools:latest
        services:
          - m24-81
        script:
          - pip install --upgrade pip && pip3 install aheadworks-deploy-manager
          - python3 -m aheadworks_release_manager build-swagger-web-api-doc --path-to-module=./ --magento_url=http://localhost --ssh_port=22
