<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\Langshop\Api\Data\LocaleInterface"
                type="Aheadworks\Langshop\Model\Locale"/>
    <preference for="Aheadworks\Langshop\Api\LocaleManagementInterface"
                type="Aheadworks\Langshop\Model\Service\Locale" />

    <preference for="Aheadworks\Langshop\Api\Data\SchemaInterface"
                type="Aheadworks\Langshop\Model\Schema"/>
    <preference for="Aheadworks\Langshop\Api\Data\Schema\ResourceInterface"
                type="Aheadworks\Langshop\Model\Schema\TranslatableResource"/>
    <preference for="Aheadworks\Langshop\Api\Data\Schema\ResourceGroupInterface"
                type="Aheadworks\Langshop\Model\Schema\TranslatableResourceGroup"/>
    <preference for="Aheadworks\Langshop\Api\Data\Schema\TranslatableResource\FieldInterface"
                type="Aheadworks\Langshop\Model\Schema\TranslatableResource\Field"/>
    <preference for="Aheadworks\Langshop\Api\Data\Schema\TranslatableResource\SortingInterface"
                type="Aheadworks\Langshop\Model\Schema\TranslatableResource\Sorting"/>
    <preference for="Aheadworks\Langshop\Api\Data\Schema\ResourceGroup\ResourceInterface"
                type="Aheadworks\Langshop\Model\Schema\ResourceGroup\ResourceModel"/>
    <preference for="Aheadworks\Langshop\Api\SchemaManagementInterface"
                type="Aheadworks\Langshop\Model\Service\Schema" />

    <preference for="Aheadworks\Langshop\Api\Data\TranslatableResourceInterface"
                type="Aheadworks\Langshop\Model\TranslatableResource" />
    <preference for="Aheadworks\Langshop\Api\Data\TranslatableResource\FieldInterface"
                type="Aheadworks\Langshop\Model\TranslatableResource\Field" />
    <preference for="Aheadworks\Langshop\Api\Data\TranslatableResource\FilterInterface"
                type="Aheadworks\Langshop\Model\TranslatableResource\Filter" />
    <preference for="Aheadworks\Langshop\Api\Data\TranslatableResource\TranslationInterface"
                type="Aheadworks\Langshop\Model\TranslatableResource\Translation" />
    <preference for="Aheadworks\Langshop\Api\Data\TranslatableResource\PaginationInterface"
                type="Aheadworks\Langshop\Model\TranslatableResource\Pagination" />
    <preference for="Aheadworks\Langshop\Api\Data\TranslatableResource\ResourceListInterface"
                type="Aheadworks\Langshop\Model\TranslatableResource\ResourceList" />
    <preference for="Aheadworks\Langshop\Api\TranslatableResourceManagementInterface"
                type="Aheadworks\Langshop\Model\Service\TranslatableResource" />

    <!-- START Data Processor Pool -->
    <preference for="Aheadworks\Langshop\Model\Data\ProcessorInterface"
                type="Aheadworks\Langshop\Model\Data\Processor\Composite" />
    <!-- END Data Processor Pool -->

    <!-- START Scope Record Configuration -->
    <preference for="Aheadworks\Langshop\Api\Data\Locale\Scope\RecordInterface"
                type="Aheadworks\Langshop\Model\Locale\Scope\Record"/>
    <!-- END Scope Record Configuration -->

    <type name="Aheadworks\Langshop\Model\TranslatableResource\Repository\Pool">
        <arguments>
            <argument name="repositories" xsi:type="array">
                <item name="attribute" xsi:type="object">Aheadworks\Langshop\Model\TranslatableResource\Repository\Attribute</item>
                <item name="product" xsi:type="object">Aheadworks\Langshop\Model\TranslatableResource\Repository\Product</item>
                <item name="category" xsi:type="object">Aheadworks\Langshop\Model\TranslatableResource\Repository\Category</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\Langshop\Model\TranslatableResource\Field\PersistorPool\Attribute"
                 type="Aheadworks\Langshop\Model\TranslatableResource\Field\PersistorPool">
        <arguments>
            <argument name="persistors" xsi:type="array">
                <item name="options" xsi:type="object">Aheadworks\Langshop\Model\TranslatableResource\Field\Attribute\Options</item>
                <item name="store_label" xsi:type="object">Aheadworks\Langshop\Model\TranslatableResource\Field\Attribute\StoreLabel</item>
                <item name="swatches" xsi:type="object">Aheadworks\Langshop\Model\TranslatableResource\Field\Attribute\Swatches</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\Attribute\Collection">
        <arguments>
            <argument name="persistorPool" xsi:type="object">Aheadworks\Langshop\Model\TranslatableResource\Field\PersistorPool\Attribute</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\Attribute">
        <arguments>
            <argument name="persistorPool" xsi:type="object">Aheadworks\Langshop\Model\TranslatableResource\Field\PersistorPool\Attribute</argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\Product\CollectionFactory"
                 type="Magento\Framework\Data\Collection\AbstractDbFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Catalog\Model\ResourceModel\Product\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\Category\CollectionFactory"
                 type="Magento\Framework\Data\Collection\AbstractDbFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Catalog\Model\ResourceModel\Category\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\Attribute\CollectionFactory"
                 type="Magento\Framework\Data\Collection\AbstractDbFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\Attribute\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\ProductFactory"
                 type="Magento\Framework\Model\ResourceModel\Db\AbstractDbFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Catalog\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\CategoryFactory"
                 type="Magento\Framework\Model\ResourceModel\Db\AbstractDbFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Catalog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\AttributeFactory"
                 type="Magento\Framework\Model\ResourceModel\Db\AbstractDbFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\Attribute</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Langshop\Model\TranslatableResource\Repository\Product"
                 type="Aheadworks\Langshop\Model\TranslatableResource\Repository\Repository">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\Product\CollectionFactory</argument>
            <argument name="resourceModelFactory" xsi:type="object">Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\ProductFactory</argument>
            <argument name="collectionProcessor" xsi:type="object">Magento\Eav\Model\Api\SearchCriteria\CollectionProcessor</argument>
            <argument name="resourceType" xsi:type="string">product</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\TranslatableResource\Repository\Category"
                 type="Aheadworks\Langshop\Model\TranslatableResource\Repository\Repository">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\Category\CollectionFactory</argument>
            <argument name="resourceModelFactory" xsi:type="object">Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\CategoryFactory</argument>
            <argument name="collectionProcessor" xsi:type="object">Magento\Eav\Model\Api\SearchCriteria\CollectionProcessor</argument>
            <argument name="resourceType" xsi:type="string">category</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\TranslatableResource\Repository\Attribute"
                 type="Aheadworks\Langshop\Model\TranslatableResource\Repository\Repository">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\Attribute\CollectionFactory</argument>
            <argument name="resourceModelFactory" xsi:type="object">Aheadworks\Langshop\Model\ResourceModel\TranslatableResource\AttributeFactory</argument>
            <argument name="collectionProcessor" xsi:type="object">Magento\Eav\Model\Api\SearchCriteria\CollectionProcessor</argument>
            <argument name="resourceType" xsi:type="string">attribute</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Aheadworks\Langshop\Api\Data\Locale\Scope\RecordInterface" xsi:type="array">
                    <item name="identifierField" xsi:type="const">Aheadworks\Langshop\Api\Data\Locale\Scope\RecordInterface::RECORD_ID</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Langshop\Model\Locale\LoadHandler">
        <arguments>
            <argument name="processor" xsi:type="object">Aheadworks\Langshop\Model\Locale\Processor\Composite</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Langshop\Model\Locale\Processor\Composite">
        <arguments>
            <argument name="processorList" xsi:type="array">
                <item name="url" xsi:type="object">Aheadworks\Langshop\Model\Locale\Processor\Url</item>
                <item name="name" xsi:type="object">Aheadworks\Langshop\Model\Locale\Processor\Name</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Langshop\Model\Service\TranslatableResource">
        <arguments>
            <argument name="dataProcessor" xsi:type="object">Aheadworks\Langshop\Model\Data\Processor\TranslatableResource\Composite</argument>
        </arguments>
    </type>
    <virtualType name="Aheadworks\Langshop\Model\Data\Processor\TranslatableResource\Composite"
                 type="Aheadworks\Langshop\Model\Data\Processor\Composite">
        <arguments>
            <argument name="processorList" xsi:type="array">
                <item name="default" xsi:type="object">Aheadworks\Langshop\Model\Data\Processor\TranslatableResource\DefaultValue</item>
                <item name="locale" xsi:type="object">Aheadworks\Langshop\Model\Data\Processor\TranslatableResource\Locale</item>
                <item name="sorting" xsi:type="object">Aheadworks\Langshop\Model\Data\Processor\TranslatableResource\Sorting</item>
                <item name="filter" xsi:type="object">Aheadworks\Langshop\Model\Data\Processor\TranslatableResource\Filter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\Langshop\Model\Service\Schema">
        <arguments>
            <argument name="processor" xsi:type="object">Aheadworks\Langshop\Model\Schema\Processor\Composite</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Langshop\Model\Schema\Processor\Composite">
        <arguments>
            <argument name="processorList" xsi:type="array">
                <item name="general" xsi:type="object">Aheadworks\Langshop\Model\Schema\Processor\General</item>
                <item name="translatable_resources" xsi:type="object">Aheadworks\Langshop\Model\Schema\Processor\TranslatableResources</item>
                <item name="translatable_resource_groups" xsi:type="object">Aheadworks\Langshop\Model\Schema\Processor\TranslatableResourceGroups</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\Langshop\Model\Schema\Processor\General">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="version" xsi:type="string">1.0.0</item>
                <item name="possibilities" xsi:type="array">
                    <item name="locale.get" xsi:type="string"/>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Langshop\Model\Entity\Field\Sorting\DirectionList">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="asc" xsi:type="string"/>
                    <item name="desc" xsi:type="string"/>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Langshop\Model\Entity\Field\Filter\Builder">
        <arguments>
            <argument name="preparers" xsi:type="array">
                <item name="text" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Filter\Text</item>
                <item name="date" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Filter\Date</item>
                <item name="select" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Filter\Select</item>
                <item name="multiselect" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Filter\Multiselect</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Langshop\Model\Entity\Pool">
        <arguments>
            <argument name="entityList" xsi:type="array">
                <item name="attribute" xsi:type="object">Aheadworks\Langshop\Model\Entity\Attribute</item>
                <item name="product" xsi:type="object">Aheadworks\Langshop\Model\Entity\Product</item>
                <item name="category" xsi:type="object">Aheadworks\Langshop\Model\Entity\Category</item>
            </argument>
        </arguments>
    </type>

    <!-- START Schema Entities -->
    <virtualType name="Aheadworks\Langshop\Model\Entity\Attribute"
                 type="Aheadworks\Langshop\Model\Entity">
        <arguments>
            <argument name="resourceType" xsi:type="string">attribute</argument>
            <argument name="label" xsi:type="string">Attribute</argument>
            <argument name="description" xsi:type="string">Attribute</argument>
            <argument name="viewType" xsi:type="string">grid</argument>
            <argument name="fieldCollector" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Collector\Attribute</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Product"
                 type="Aheadworks\Langshop\Model\Entity">
        <arguments>
            <argument name="resourceType" xsi:type="string">product</argument>
            <argument name="label" xsi:type="string">Product</argument>
            <argument name="description" xsi:type="string">Product</argument>
            <argument name="viewType" xsi:type="string">grid</argument>
            <argument name="fieldCollector" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Collector\Product</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Category"
                 type="Aheadworks\Langshop\Model\Entity">
        <arguments>
            <argument name="resourceType" xsi:type="string">category</argument>
            <argument name="label" xsi:type="string">Category</argument>
            <argument name="description" xsi:type="string">Category</argument>
            <argument name="viewType" xsi:type="string">grid</argument>
            <argument name="fieldCollector" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Collector\Category</argument>
        </arguments>
    </virtualType>
    <!-- END Schema Entities -->

    <!-- START Schema Attribute Fields -->
    <virtualType name="Aheadworks\Langshop\Model\Entity\Field\Collector\Attribute"
                 type="Aheadworks\Langshop\Model\Entity\Field\Collector">
        <arguments>
            <argument name="collectorList" xsi:type="array">
                <item name="static" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Collector\StaticAttribute\Attribute</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Field\Collector\StaticAttribute\Attribute"
                 type="Aheadworks\Langshop\Model\Entity\Field\Collector\StaticAttribute">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="attribute_id" xsi:type="object">Aheadworks\Langshop\Model\Entity\Attribute\Field\AttributeId</item>
                <item name="entity_type_id" xsi:type="object">Aheadworks\Langshop\Model\Entity\Attribute\Field\EntityTypeId</item>
                <item name="attribute_code" xsi:type="object">Aheadworks\Langshop\Model\Entity\Attribute\Field\AttributeCode</item>
                <item name="store_label" xsi:type="object">Aheadworks\Langshop\Model\Entity\Attribute\Field\StoreLabel</item>
                <item name="frontend_label" xsi:type="object">Aheadworks\Langshop\Model\Entity\Attribute\Field\FrontendLabel</item>
                <item name="frontend_input" xsi:type="object">Aheadworks\Langshop\Model\Entity\Attribute\Field\FrontendInput</item>
                <item name="options" xsi:type="object">Aheadworks\Langshop\Model\Entity\Attribute\Field\Options</item>
                <item name="swatches" xsi:type="object">Aheadworks\Langshop\Model\Entity\Attribute\Field\Swatches</item>
                </argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Langshop\Model\Entity\Attribute\Field\AttributeId"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">attribute_id</item>
                <item name="label" xsi:type="string">Attribute Id</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">10</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Attribute\Field\EntityTypeId"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">entity_type_id</item>
                <item name="label" xsi:type="string">Entity Type</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">20</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Attribute\Field\AttributeCode"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">attribute_code</item>
                <item name="label" xsi:type="string">Attribute Code</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">30</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Attribute\Field\StoreLabel"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">store_label</item>
                <item name="label" xsi:type="string">Store Label</item>
                <item name="type" xsi:type="string">array</item>
                <item name="is_filterable" xsi:type="boolean">false</item>
                <item name="sort_order" xsi:type="string">40</item>
                <item name="is_sortable" xsi:type="boolean">false</item>
                <item name="is_translatable" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Attribute\Field\FrontendLabel"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">frontend_label</item>
                <item name="label" xsi:type="string">Default Label</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">50</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Attribute\Field\FrontendInput"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">frontend_input</item>
                <item name="label" xsi:type="string">Attribute Type</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">60</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Attribute\Field\Options"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">options</item>
                <item name="label" xsi:type="string">Options</item>
                <item name="type" xsi:type="string">array</item>
                <item name="is_filterable" xsi:type="boolean">false</item>
                <item name="sort_order" xsi:type="string">70</item>
                <item name="is_sortable" xsi:type="boolean">false</item>
                <item name="is_translatable" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Attribute\Field\Swatches"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">swatches</item>
                <item name="label" xsi:type="string">Swatches</item>
                <item name="type" xsi:type="string">array</item>
                <item name="is_filterable" xsi:type="boolean">false</item>
                <item name="sort_order" xsi:type="string">80</item>
                <item name="is_sortable" xsi:type="boolean">false</item>
                <item name="is_translatable" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END Schema Attribute Fields -->

    <!-- START Schema Product Fields -->
    <virtualType name="Aheadworks\Langshop\Model\Entity\Field\Collector\Product"
                 type="Aheadworks\Langshop\Model\Entity\Field\Collector">
        <arguments>
            <argument name="collectorList" xsi:type="array">
                <item name="static" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Collector\StaticAttribute\Product</item>
                <item name="dynamic" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Collector\DynamicAttribute\Product</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Field\Collector\StaticAttribute\Product"
                 type="Aheadworks\Langshop\Model\Entity\Field\Collector\StaticAttribute">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="entity_id" xsi:type="object">Aheadworks\Langshop\Model\Entity\Product\Field\EntityId</item>
                <item name="name" xsi:type="object">Aheadworks\Langshop\Model\Entity\Product\Field\Name</item>
                <item name="sku" xsi:type="object">Aheadworks\Langshop\Model\Entity\Product\Field\Sku</item>
                <item name="type_id" xsi:type="object">Aheadworks\Langshop\Model\Entity\Product\Field\TypeId</item>
                <item name="attribute_set_id" xsi:type="object">Aheadworks\Langshop\Model\Entity\Product\Field\AttributeSetId</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Field\Collector\DynamicAttribute\Product"
                 type="Aheadworks\Langshop\Model\Entity\Field\Collector\DynamicAttribute">
        <arguments>
            <argument name="entityTypeCode" xsi:type="const">Magento\Catalog\Api\Data\ProductAttributeInterface::ENTITY_TYPE_CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Langshop\Model\Entity\Product\Field\EntityId"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">entity_id</item>
                <item name="label" xsi:type="string">Id</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">10</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Product\Field\Name"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">name</item>
                <item name="label" xsi:type="string">Name</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">20</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Product\Field\Sku"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">sku</item>
                <item name="label" xsi:type="string">Sku</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">30</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Product\Field\TypeId"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">type_id</item>
                <item name="label" xsi:type="string">Type</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">40</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Product\Field\AttributeSetId"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">attribute_set_id</item>
                <item name="label" xsi:type="string">Attribute Set</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">50</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END Schema Product Fields -->

    <!-- START Schema Category Fields -->
    <virtualType name="Aheadworks\Langshop\Model\Entity\Field\Collector\Category"
                 type="Aheadworks\Langshop\Model\Entity\Field\Collector">
        <arguments>
            <argument name="collectorList" xsi:type="array">
                <item name="static" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Collector\StaticAttribute\Category</item>
                <item name="dynamic" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Collector\DynamicAttribute\Category</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Langshop\Model\Entity\Field\Collector\StaticAttribute\Category"
                 type="Aheadworks\Langshop\Model\Entity\Field\Collector\StaticAttribute">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="category_id" xsi:type="object">Aheadworks\Langshop\Model\Entity\Category\Field\CategoryId</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Entity\Field\Collector\DynamicAttribute\Category"
                 type="Aheadworks\Langshop\Model\Entity\Field\Collector\DynamicAttribute">
        <arguments>
            <argument name="entityTypeCode" xsi:type="const">Magento\Catalog\Api\Data\CategoryAttributeInterface::ENTITY_TYPE_CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Langshop\Model\Entity\Category\Field\CategoryId"
                 type="Aheadworks\Langshop\Model\Entity\Field">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="string">category_id</item>
                <item name="label" xsi:type="string">Category Id</item>
                <item name="type" xsi:type="string">text</item>
                <item name="is_filterable" xsi:type="boolean">true</item>
                <item name="filter_type" xsi:type="string">text</item>
                <item name="sort_order" xsi:type="string">10</item>
                <item name="is_sortable" xsi:type="boolean">true</item>
                <item name="is_translatable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END Schema Category Fields -->

    <type name="Aheadworks\Langshop\Model\Schema\ResourceGroup\Pool">
        <arguments>
            <argument name="groupList" xsi:type="array">
                <item name="general" xsi:type="object">Aheadworks\Langshop\Model\Schema\TranslatableResourceGroup\General</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\Langshop\Model\Entity\Field\Filter\Pool">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="text" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Filter\Text</item>
                <item name="select" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Filter\Select</item>
                <item name="multiselect" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Filter\Multiselect</item>
                <item name="date" xsi:type="object">Aheadworks\Langshop\Model\Entity\Field\Filter\Date</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\Langshop\Model\Schema\TranslatableResourceGroup\General"
                 type="Aheadworks\Langshop\Model\Schema\TranslatableResourceGroup">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="id" xsi:type="string">1</item>
                <item name="title" xsi:type="string">General</item>
                <item name="sortOrder" xsi:type="string">1</item>
                <item name="resources" xsi:type="array">
                    <item name="attribute" xsi:type="object">Aheadworks\Langshop\Model\Schema\ResourceGroup\ResourceModel\Attribute</item>
                    <item name="product" xsi:type="object">Aheadworks\Langshop\Model\Schema\ResourceGroup\ResourceModel\Product</item>
                    <item name="category" xsi:type="object">Aheadworks\Langshop\Model\Schema\ResourceGroup\ResourceModel\Category</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Schema\ResourceGroup\ResourceModel\Attribute"
                 type="Aheadworks\Langshop\Model\Schema\ResourceGroup\ResourceModel">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="resource" xsi:type="string">attribute</item>
                <item name="sort_order" xsi:type="string">10</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Schema\ResourceGroup\ResourceModel\Product"
                 type="Aheadworks\Langshop\Model\Schema\ResourceGroup\ResourceModel">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="resource" xsi:type="string">product</item>
                <item name="sort_order" xsi:type="string">20</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Langshop\Model\Schema\ResourceGroup\ResourceModel\Category"
                 type="Aheadworks\Langshop\Model\Schema\ResourceGroup\ResourceModel">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="resource" xsi:type="string">category</item>
                <item name="sort_order" xsi:type="string">30</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Webapi\Controller\Rest\ParamsOverrider">
        <plugin name="aw_ls_disable_body_overriding" type="Aheadworks\Langshop\Plugin\Webapi\Controller\Rest\ParamsOverrider" />
    </type>
</config>
