<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\Langshop\Api\Data\LocaleInterface"
                type="Aheadworks\Langshop\Model\Locale"/>
    <preference for="Aheadworks\Langshop\Api\LocaleManagementInterface"
                type="Aheadworks\Langshop\Model\Service\Locale" />
    <preference for="Aheadworks\Langshop\Api\Data\SchemaInterface"
                type="Aheadworks\Langshop\Model\Schema"/>
    <preference for="Aheadworks\Langshop\Api\SchemaManagementInterface"
                type="Aheadworks\Langshop\Model\Service\Schema" />

    <!-- START Collection Modifier Pool -->
    <preference for="Aheadworks\Langshop\Model\ResourceModel\Collection\ModifierInterface"
                type="Aheadworks\Langshop\Model\ResourceModel\Collection\Modifier\Composite" />
    <!-- END Collection Modifier Pool -->

    <!-- START Data Processor Pool -->
    <preference for="Aheadworks\Langshop\Model\Data\ProcessorInterface"
                type="Aheadworks\Langshop\Model\Data\Processor\Composite" />
    <!-- END Data Processor Pool -->

    <!-- START Scope Record Configuration -->
    <preference for="Aheadworks\Langshop\Model\Locale\ScopeRecordInterface"
                type="Aheadworks\Langshop\Model\Locale\ScopeRecord"/>
    <preference for="Aheadworks\Langshop\Model\Locale\ScopeRecord\SearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <!-- END Scope Record Configuration -->

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Aheadworks\Langshop\Model\Locale\ScopeRecordInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Aheadworks\Langshop\Model\ResourceModel\Locale\ScopeRecord::MAIN_TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Aheadworks\Langshop\Model\Locale\ScopeRecordInterface::RECORD_ID</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Langshop\Model\Locale\LoadHandler">
        <arguments>
            <argument name="processor" xsi:type="object">Aheadworks\Langshop\Model\Locale\Processor\Composite</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Langshop\Model\Locale\Processor\Composite">
        <arguments>
            <argument name="processorList" xsi:type="array">
                <item name="url" xsi:type="object">Aheadworks\Langshop\Model\Locale\Processor\Url</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Langshop\Model\Service\Schema">
        <arguments>
            <argument name="processor" xsi:type="object">Aheadworks\Langshop\Model\Schema\Processor\Composite</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Langshop\Model\Schema\Processor\Composite">
        <arguments>
            <argument name="processorList" xsi:type="array">
                <item name="general" xsi:type="object">Aheadworks\Langshop\Model\Schema\Processor\General</item>
                <item name="translatable_resources" xsi:type="object">Aheadworks\Langshop\Model\Schema\Processor\TranslatableResources</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\Langshop\Model\Schema\Processor\General">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="version" xsi:type="string">1.0.0</item>
                <item name="possibilities" xsi:type="array">
                    <item name="locale.get" xsi:type="string"/>
                </item>
            </argument>
        </arguments>
    </type>
</config>