<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Aheadworks\Langshop\Block\Adminhtml\Button\Product\Translate"
                 type="Aheadworks\Langshop\Block\Adminhtml\Button\Translate">
        <arguments>
            <argument name="resourceType" xsi:type="string">product</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Langshop\Block\Adminhtml\Button\Category\Translate"
                 type="Aheadworks\Langshop\Block\Adminhtml\Button\Translate">
        <arguments>
            <argument name="resourceType" xsi:type="string">category</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Langshop\Block\Adminhtml\Button\CmsBlock\Translate"
                 type="Aheadworks\Langshop\Block\Adminhtml\Button\BindingResource\Translate">
        <arguments>
            <argument name="resourceType" xsi:type="string">cms_block</argument>
            <argument name="resourceIdParam" xsi:type="string">block_id</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Langshop\Block\Adminhtml\Button\CmsPage\Translate"
                 type="Aheadworks\Langshop\Block\Adminhtml\Button\BindingResource\Translate">
        <arguments>
            <argument name="resourceType" xsi:type="string">cms_page</argument>
            <argument name="resourceIdParam" xsi:type="string">page_id</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Langshop\Block\Adminhtml\Button\Agreement\Translate"
                 type="Aheadworks\Langshop\Block\Adminhtml\Button\BindingResource\Translate">
        <arguments>
            <argument name="resourceType" xsi:type="string">agreement</argument>
            <argument name="resourceIdParam" xsi:type="string">id</argument>
        </arguments>
    </virtualType>
    <type name="Aheadworks\Langshop\Plugin\Magento\CheckoutAgreements\Block\Adminhtml\Agreement\EditPlugin">
        <arguments>
            <argument name="translateButton" xsi:type="object">Aheadworks\Langshop\Block\Adminhtml\Button\Agreement\Translate</argument>
        </arguments>
    </type>

    <virtualType name="AttributeTranslateButton" type="Aheadworks\Langshop\Block\Adminhtml\Button\Translate">
        <arguments>
            <argument name="resourceType" xsi:type="string">attribute</argument>
            <argument name="resourceIdParam" xsi:type="string">attribute_id</argument>
        </arguments>
    </virtualType>
    <type name="Aheadworks\Langshop\Block\Adminhtml\Button\Attribute\Translate">
        <arguments>
            <argument name="translateButton" xsi:type="object">AttributeTranslateButton</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Langshop\Model\Source\ListToTranslate">
        <arguments>
            <argument name="unsupportedLocales" xsi:type="array">
                <item name="sr_Latn_RS" xsi:type="string">sr_Latn_RS</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Data\Form\Element\Multiselect">
        <plugin name="aw_ls_disable_options" type="Aheadworks\Langshop\Plugin\Framework\Data\Form\Element\Multiselect" />
    </type>
    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="aw_ls_menu_builder" type="Aheadworks\Langshop\Plugin\Magento\Backend\Model\Menu\BuilderPlugin" />
    </type>
    <type name="Magento\Cms\Model\ResourceModel\Block\Grid\Collection">
        <plugin name="aw_ls_block_grid" type="Aheadworks\Langshop\Plugin\Magento\Cms\Model\ResourceModel\Block\Grid\CollectionPlugin" />
    </type>
    <type name="Magento\Cms\Model\ResourceModel\Page\Grid\Collection">
        <plugin name="aw_ls_page_grid" type="Aheadworks\Langshop\Plugin\Magento\Cms\Model\ResourceModel\Page\Grid\CollectionPlugin" />
    </type>

    <type name="Magento\CheckoutAgreements\Block\Adminhtml\Agreement\Edit">
        <plugin name="aw_ls_agreement_form" type="Aheadworks\Langshop\Plugin\Magento\CheckoutAgreements\Block\Adminhtml\Agreement\EditPlugin" />
    </type>

    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="aw_ls_admin_message" xsi:type="array">
                    <item name="renderer" xsi:type="const">
                        Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE
                    </item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Aheadworks_Langshop::message.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
