<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_Langshop::langshop"
             title="Langshop" action="langshop/page/"
             module="Aheadworks_Langshop"
             sortOrder="55"
             resource="Aheadworks_Langshop::langshop"
        />
    </menu>
</config>
