<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_Langshop::langshop"
             title="Langshop"
             module="Aheadworks_Langshop"
             sortOrder="55"
             resource="Aheadworks_Langshop::langshop"/>
        <add id="Aheadworks_Langshop::langshop_app"
             title="Langshop by Aheadworks"
             translate="title"
             module="Aheadworks_Langshop"
             sortOrder="10"
             parent="Aheadworks_Langshop::langshop"
             action="langshop/page/"
             resource="Aheadworks_Langshop::langshop"/>
    </menu>
</config>
