<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aheadworks" translate="label" sortOrder="200">
            <label>Aheadworks Extensions</label>
        </tab>
        <section id="aw_ls"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Langshop</label>
            <tab>aheadworks</tab>
            <resource>Aheadworks_Langshop::langshop</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>
                <field id="scope_list_to_translate"
                       translate="label"
                       type="multiselect"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Store views and websites to translate</label>
                    <!-- TODO: LSM2-26 use correct custom source model -->
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
